<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First starter page</title>
    <link href="/webjars/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="fragments/navbar :: navbar"></div>
<div class="container my-5">
    <h2>Make a reservation</h2>
    <hr>
    <form method="post" th:action="@{/make-a-reservation}" th:object="${reservation}">
        <div class="form-group col-md-6">
            <label class="col-form-label" for="dateOfReservation">dateOfReservation</label>
            <input class="form-control" id="dateOfReservation" placeholder="dateOfReservation" th:field="*{dateOfReservation}" type="text">
            <span class="text-danger" th:errors="*{dateOfReservation}" th:if="${#fields.hasErrors('dateOfReservation')}"></span>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label" for="dateOfPickUp">dateOfPickUp</label>
            <input class="form-control" id="dateOfPickUp" placeholder="dateOfPickUp" th:field="*{dateOfPickUp}" type="text">
            <span class="text-danger" th:errors="*{dateOfPickUp}" th:if="${#fields.hasErrors('dateOfPickUp')}"></span>
        </div>
        <div class="form-group col-md-6">
            <label class="col-form-label" for="dateOfReturn">dateOfReturn</label>
            <input class="form-control" id="dateOfReturn" placeholder="dateOfReturn" th:field="*{dateOfReturn}" type="text">
            <span class="text-danger" th:errors="*{dateOfReturn}" th:if="${#fields.hasErrors('dateOfReturn')}"></span>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="car">car</label>
            <select class="form-control" id="car" th:field="*{car}">
                <option value="" selected>----SELECT CAR----</option>
                <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.model}"></option>
            </select>
        </div>
        <input th:field="*{pricePerDay}" type="hidden" >

        <div class="form-group col-md-6">
            <label class="control-label" for="client">client</label>
            <select class="form-control" id="client" th:field="*{client.email}">
                <option value="" selected>----SELECT CLIENT----</option>
                <option th:each="client : ${clients}" th:value="${client.email}" th:text="${client.email}"></option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="branchStart">branchStart</label>
            <select class="form-control" id="branchStart" th:field="*{branchStart}">
                <option value="" selected>----SELECT START CITY----</option>
                <option th:each="branch : ${branches}" th:value="${branch.id}" th:text="${branch.branchAddress}"></option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="branchEnd">branchEnd</label>
            <select class="form-control" id="branchEnd" th:field="*{branchEnd}">
                <option value="" selected>----SELECT END CITY----</option>
                <option th:each="branch : ${branches}" th:value="${branch.id}" th:text="${branch.branchAddress}"></option>
            </select>
        </div>

        <button class="btn btn-warning mt-2" type="submit">Submit</button>
    </form>
</div>
</body>
</html>